<% layout('admin_layout') -%>

<div class="space">
	<% _.each(spaces, function(space) { %>
		<form action="/admin/edit/<%= space.id %>" method="post" enctype="multipart/form-data" style="float: left;">
			<fieldset>
				<div class="vcenter">
					<div class="form-item">
						<label for="name">Name</label>
						<input id="name" name="name" placeholder="" value="<%= space.name || '' %>" />
						<br/>
					</div>

					<div class="form-item">
						<label for="description">Description</label>
						<textarea id="description" name="description"><%= space.description || '' %></textarea>
					</div>

					<div class="form-item">
						<label for="facilities">Facilites</label>
						<select id="facilities" data-placeholder="Select the facilities available" name="facilities" multiple="true">
							<% facilities.forEach(function(f){ %>
							<option value="<%= f %>" <%= _.contains(space.facilities, f) ? 'selected' : '' %>><%= f %></option>
							<% }) %>
						</select>
					</div>
					<!-- Sorry -->
					<script>
						$(document).ready(function() {
							$('#facilities').chosen();
						});
					</script>

					<div class="form-item">
						<label for="address1">Address line one</label>
						<input id="address1" name="address1" type="text"value="<%= space.address1 || '' %>" />
					</div>

					<div class="form-item">
						<label for="address2">Address line two</label>
						<input id="address2" name="address2" type="text" value="<%= space.address2 || '' %>"/>
					</div>

					<div class="form-item">
						<label for="town">Town</label>
						<input id="town" name="town" type="text" value="<%= space.town || '' %>"/>
					</div>

					<div class="form-item">
						<label for="county">County</label>
						<input id="county" name="county" type="text"value="<%= space.county || '' %>" />
					</div>

					<div class="form-item">
						<label for="postcode">Postcode</label>
						<input id="postcode" name="postcode" type="text" value="<%= space.postcode || '' %>"/>
					</div>

					<div class="form-item">
						<label for="hiring_model">Hiring model</label>
						<select id="hiring_model" name="hiring_model">
							<% hiring_models.forEach(function(m){ %>
								<option value="<%= m %>" <%= (m === space.hiring_model) ? 'selected' : '' %>><%= m %></option>
							<% }) %>
						</select>
					</div>

					<div class="form-item image-form-item">
						<label for="image">Display image</label>
						<input type="file" name="image" id="image" />
						<br />
						<% if (space.image && typeof space.image === 'object' && space.image.buffer && space.image.mimetype) { %>
							<img width=370 height=370 title="current image" src="data:<%= space.image.mimetype %>;base64,<%= space.image.buffer.toString('base64') -%>" />
						<% } %>
					</div>

					<div class="form-item">
						<label for="hire_charge">Hiring charge</label>
						<input id="hiring_charge" name="hiring_charge" placeholder="£" type="text" value="<%= space.hiring_charge || '' %>"/><br/>
					</div>

					<div class="form-item">
						<select name="hiring_granularity">
							<% hiring_granularity.forEach(function(v){ %>
								<option value="<%= v %>" <%= (v === space.hiring_granularity) ? 'selected' : '' %>><%= v %></option>
							<% }) %>
						</select>
					</div>
				</div>
				<input type="hidden" name="owner[name]" value="<%= adminUsername %>" />
				<input type="hidden" name="owner[email]" value="<%= adminUsername %>@everydayspaces.co.uk" />
			</fieldset>
			<p>Embed your widget</p>
			<p>Paste the below code into your website</p>
			<pre>
			&#x3C;script type=&#x22;text/javascript&#x22; src=&#x22;http://everydayspaces.co.uk/widget/sabot.js?spaceId=<%= space.id %> async=&#x22;true&#x22;&#x3E;&#x3C;/script&#x3E;
			</pre>
			<button type="submit" value="Save">Save</button>
		</form>

 		<div style="float: left;" class="widget <%= _.map(space.facilities, function(f){ return f.replace(' ', '_'); }).join(' ') %>">
 			
	 		<script
				type="text/javascript"
				src="/widget/sabot.js?spaceId=<%= space.id %>"
				async="true"></script>
		</div>
		<div style="clear: left;"/>
 	<% }) %>
</div>
