<% layout('widget_layout') -%>

<div id="widget">

	<!-- About -->
	<div class="goto about">
		<div class="top">
			<h1><%= space.name %></h1>
		</div>
		<div class="vcenter">
			<% if (space.hire_charge && space.hiring_granularity)  { %>
				<p style="margin: 0;" class="hire_charge">
					From &pound;<%= space.hire_charge %> <%= space.hiring_granularity %>
				</p>
			<% } %>
			<div style="min-height: 300px; max-height: 320px" class="pictures">
				<% if (space.image && typeof space.image === 'object' && space.image.buffer && space.image.mimetype) { %>
					<img class="widgetimg" src="data:<%= space.image.mimetype %>;base64,<%= space.image.buffer.toString('base64') -%>" alt="venue photo">
				<% } %>
			</div>
			<p>Managed by <%= space.owner.name %></p>
			<div class="buttons">
				<button data-goto="description">Find out more</button>
				<button style="margin-top: 5px;" data-goto="availability" class="availability">Check Availability</button>
			</div>
		</div>
	</div>

	<!-- Find out more -->
	<div class="goto description hide">
		<div style="overflow: hidden;" class="top">
			<button data-goto="about">&lt;</button>
			<h1>Description</h1>
		</div>
		<div class="vcenter" style="padding: 10px; position: relative;">
			<p class="description"><%= space.description %></p>

			<% if (space.hiring_model === 'Deposit') { %>
				<p><strong>Deposit required</strong>
			<% } %>
			<% if (space.facilities.length) { %>
			<h4>Facilities</h4>
			<ul class="facilities">
				<% _.each(space.facilities, function(f) { %>
					<li><%= f %></li>
				<% }) %>
			</ul>
			<% } %>

			<% if ( space.address1 || space.address2 || space.town || space.county || space.postcode) { %>
				<h4>Address</h4>
				<% if (space.address1) { %>
					<%= space.address1 %><br/>
				<% } %>
				<% if (space.address2) { %>
					<%= space.address2 %><br/>
				<% } %>
				<% if (space.town) { %>
					<%= space.town %><br/>
				<% } %>
				<% if (space.county) { %>
					<%= space.county %><br/>
				<% } %>
				<% if (space.postcode) { %>
					<%= space.postcode %><br/>
				<% } %>
			<% } %>
			<div class="buttons">
				<button data-goto="availability" class="availability">Check Availability</button>
			</div>
		</div>
	</div>

	<!-- Availability -->
	<div class="goto availability hide">
		<div style="overflow: hidden;" class="top">
			<button data-goto="about">&lt;</button>
			<h1>Availability</h1>
		</div>
		<div class="vcenter">
			<% include availability/filters %>
			<% include availability/calendar %>
		</div>
	</div>

	<!-- Book -->
	<div class="goto book hide">
		<div style="overflow: hidden;" class="top">
			<button data-goto="availability">&lt;</button>
			<h1>Book</h1>
		</div>
		<div class="vcenter">
			<form method="POST" action="<%= space._id %>/book">

				<input type="hidden" name="start" value="" />
				<input type="hidden" name="end" value="" />

				<div class="form-item">
					<label for="owner[name]">Your name</label>
					<input required="required" name="owner[name]" value="" />
				</div>

				<div class="form-item">
					<label for="owner[email]">Your email</label>
					<input required="required" name="owner[email]" value="" />
				</div>

				<input type="hidden" name="booker[name]" value="booked with widget" />

				<div style="margin-top: 302px;" class="buttons">
					<button type="submit">Create booking</button>
				</div>
			</form>
		</div>
	</div>
</div>
<% if (!unbranded) { %>
	<div class="footer">
		<a href="http://everydayspaces.co.uk" target="_blank">
			Everyday Spaces
		</a>
	</div>
<% } %>

<script type="text/javascript">
	window.space = <%- JSON.stringify(space) -%>;
</script>

<script type="text/javascript" src="/javascripts/widget.js"></script>
