<% layout('widget_layout') -%>

<div id="widget">

	<!-- About -->
	<div class="goto about">
		<div class="top">
			<h1><%= space.name %></h1>
		</div>
		<div class="vcenter">
			<p class="description"><%- space.description -%></p>

			<ul class="facilities">
				<li>Changing Rooms</li>
				<li>Wifi</li>
				<li>Free Parking</li>
			</ul>

			<div class="pictures">
				<img src="http://placehold.it/370x370" alt="venue photo">
			</div>

			<button data-goto="availability">Check Availability</button>
		</div>
	</div>

	<!-- Availability -->
	<div class="goto availability hide">
		<div class="top">
			<button data-goto="about">&lt;</button>
			<h1>Availability</h1>
		</div>
		<div class="vcenter">
			<% include availability/filters %>
			<% include availability/calendar %>
		</div>
	</div>

	<!-- Book -->
	<div class="goto book hide">
		<div class="top">
			<button data-goto="availability">&lt;</button>
			<h1>Book</h1>
		</div>
		<div class="vcenter">
			<form method="POST" action="<%= space._id %>/book">
				<label for="start">From:</label>
				<input name="start" value="2015-12-20T00:00:00.025Z" />

				<label for="end">To</label>
				<input name="end" value="2015-11-20T16:01:10.025Z" />

				<label for="owner[name]">Owner name</label>
				<input name="owner[name]" value="Alison" />

				<label for="owner[email]">Owner email</label>
				<input name="owner[email]" value="Alison@danceclassesrus.com" />

				<label for="booker[name]">Booker</label>
				<input name="booker[name]" value="Dance classes r us" />

				<div>
					<button type="submit">Create booking</button>
				</div>
			</form>
		</div>
	</div>

	<div class="footer">
		Square space thing
		<!-- <img src="logo.png" /> -->
	</div>

</div>

<h2>Bookings</h2>
<code><%= JSON.stringify(space.bookings) %></code>

<script type="text/javascript">
	window.space = <%- JSON.stringify(space) -%>;
</script>

<script type="text/javascript" src="/javascripts/widget.js"></script>
