<% layout('layout') -%>
<script src="/javascripts/thirdparty/isotope.pkgd.min.js"></script>
<style>
	.grid-item { width: 25%; }
	* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

	/* ---- button ---- */

	.button {
	  display: inline-block;
	  padding: 0.5em 1.0em;
	  background: #EEE;
	  border: none;
	  border-radius: 7px;
	  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
	  color: #222;
	  font-family: sans-serif;
	  font-size: 16px;
	  text-shadow: 0 1px white;
	  cursor: pointer;
	}

	.button:hover {
	  background-color: #8CF;
	  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
	  color: #222;
	}

	.button:active,
	.button.is-checked {
	  background-color: #28F;
	}

	.button.is-checked {
	  color: white;
	  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
	}

	.button:active {
	  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
	}

	/* ---- button-group ---- */

	.button-group:after {
	  content: '';
	  display: block;
	  clear: both;
	}

	.button-group .button {
	  float: left;
	  border-radius: 0;
	  margin-left: 0;
	  margin-right: 1px;
	}

	.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
	.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

	/* ---- isotope ---- */


	/* ui group */

	.ui-group {
	  display: inline-block;
	}

	.ui-group h3 {
	  display: inline-block;
	  vertical-align: top;
	  line-height: 32px;
	  margin-right: 0.2em;
	  font-size: 16px;
	}

	.ui-group .button-group {
	  display: inline-block;
	  margin-right: 20px;
	}
</style>
<h1><%= title %></h1>
<div class="filters">

  <div class="ui-group">
    <h3>Facilities</h3>
    <div class="button-group js-radio-button-group" data-filter-group="facilites">
      <button class="button all is-checked" data-filter="">any</button>
      <% _.each(facilities, function(f){ %>
      	<button class="button" data-filter=".<%= f.replace(' ', '_') %>"><%= f %></button>
      <% }) %>
    </div>
  </div>
</div>
<div class="grid">
	<% _.each(spaces, function(space) { %>
 		<div class="grid-item <%= _.map(space.facilities, function(f){ return f.replace(' ', '_'); }).join(' ') %>">
 			<h2><a href="/edit/<%= space._id %>">Edit Space</a></h2>
	 		<script
				type="text/javascript"
				src="/widget/sabot.js?spaceId=<%= space.id %>"
				async="true"></script>
		</div>
 	<% }) %>
</div>

<a href="/new">Add a new Space</a>
<script>
	var $grid = $('.grid').isotope({
		itemSelector: '.grid-item',
		layoutMode: 'fitRows'
	});


	$('.filters').on( 'click', '.button', function() {
		var $this = $(this);
		if (!$this.data('filter')) {
			$('.filters .button').removeClass('is-checked');
			$this.addClass('is-checked');
		} else {
			$('.filters .all').removeClass('is-checked');
			$this.toggleClass('is-checked');
		}
		// scan and add filters
		var filters = [];
		$('.filters .is-checked').each(function(){
			filters.push($(this).data('filter'));
		});
		console.log(filters);
		// combine filters
		var filterValue = filters.join('');
		// set filter for Isotope
		$grid.isotope({ filter: filterValue });
	});
</script>
