<% layout('layout') -%>

<div class="spaces">
<h1><%= title %></h1>
<a href="/new">Add a new Space</a>
<% _.each(spaces, function(space) { %>
	<article>
		<h2><%= space.name %></h2>
		<a href="/edit/<%= space._id %>">Edit Space</a>
		<a href="/space/<%= space._id %>">View Space</a>
		<% if (space.image && typeof space.image === 'object' && space.image.buffer && space.image.mimetype) { %>
			<img width=370 height=370 src="data:<%= space.image.mimetype %>;base64,<%= space.image.buffer.toString('base64') -%>" alt="venue photo">
		<% } %>
		<% if(space.address1 || space.address2 || space.county || space.postcode) { %>
			<address>
				<ul>
					<% if(space.address1) { %>
						<li><%= space.address1 %></li>
					<% } %>
					<% if(space.address2) { %>
						<li><%= space.address2 %></li>
					<% } %>
					<% if(space.county) { %>
						<li><%= space.county %></li>
					<% } %>
					<% if(space.postcode) { %>
						<li><%= space.postcode %></li>
					<% } %>
				</ul>
			</address>
		<% } %>
		<p><%= space.description %></p>
		<% if(_.size(space.facilities) > 0) { %>
			<ul>
				<% _.each(space.facilities, function(feature) { %>
					<li><%= feature %></li>
				<% }); %>
			</ul>
		<% }; %>
		<pre><%= JSON.stringify(space) %></pre>
	</article>
<% }) %>
</div>
