<%

var days = [
	{
		dayStr: 'mon',
		momInd: 1
	},
	{
		dayStr: 'tue',
		momInd: 2
	},
	{
		dayStr: 'wed',
		momInd: 3
	},
	{
		dayStr: 'thu',
		momInd: 4
	},
	{
		dayStr: 'fri',
		momInd: 5
	},
	{
		dayStr: 'sat',
		momInd: 6
	},
	{
		dayStr: 'sun',
		momInd: 7
	}
];
var hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23];

var currentWeek = moment().weekday(1);

var current = moment();

var bookedSegments = [];

%>

<div class="date-controls">
	<table>
		<tr><button class="week-prev">&lt;</button></tr>
		<tr><button class="week-next">&gt;</button></tr>
		<% var endOfweek = currentWeek.clone().add(6, 'days'); %>
		<tr><span><%= currentWeek.format('DD') %> &mdash; <%= endOfweek.format('DD') %> <%= endOfweek.format('MMMM') %> <%= endOfweek.format('YYYY') %></span></tr>
	</table>
</div>

<div class="calendar-thing th">
	<span class="time">&nbsp;</span>
	<% _.each(days, function( day ) { %>
		<span class="<%= day.dayStr.toLowerCase() %>"
			data-day="<%= day.dayStr.toLowerCase() %>">
				<%= day.dayStr.toLowerCase() %>
		</span>
	<% }); %>
</div>
<div id="calendar" class="calendar-thing">

	<div id="weeks">

		<% _.each(hours, function( hour ) { %>
			<div class="hour">
				<div class="time" data-date="<%= hour %>"><%= hour === 0 ? '0:00' : moment.duration(hour, 'hour').format('h:mm') %></div>
				<% _.each(days, function( day ) { %>
					<div class="<%= day.dayStr %>" data-day="<%= day.dayStr %>" data-num-day="<%= day.momInd %>">
							<!-- <a href="javascript:;" role="button" data-goto="book"></a> -->
							<!-- <span role="button" class="booked"></span> -->
					</div>
				<% }); %>
			</div>
		<% }); %>

	</div>
</div>
