<% layout('layout') -%>
<h1><%= title %></h1>
<form action="/space" method="post">
	<fieldset>
		<label for="name">Name</label>
		<input id="name" name="name" placeholder="Village Hall" />
		<label for="description">Description</label>
		<textarea id="description" name="description"></textarea>
<br/>
		<label for="facilities">Facilites</label>
		<select id="facilities" name="facilities" multiple="true">
			<% facilities.forEach(function(f){ %>
				<option value="<%= f %>"><%= f %></option>
			<% }) %>
		</select>
<br/>
		<label for="address1">Address line one</label>
		<input id="address1" name="address1" type="text"/>

		<label for="address2">Address line two</label>
		<input id="address2" name="address2" type="text"/>

		<label for="county">County</label>
		<input id="county" name="county" type="text"/>

		<label for="town">Town</label>
		<input id="town" name="town" type="text"/>

		<label for="postcode">Postcode</label>
		<input id="postcode" name="postcode" type="text"/>
<br/>
		<label for="hiring_model">Hiring model</label>
		<select id="hiring_model" name="hiring_model">
			<% hiring_models.forEach(function(m){ %>
				<option value="<%= m %>"><%= m %></option>
			<% }) %>
		</select>
<br/>
		<label for="hire_charge">Hiring charge</label>
		<input id="hiring_charge" name="hiring_charge" type="text"/>
		<select name="hiring_granularity">
		<% hiring_granularity.forEach(function(v){ %>
				<option value="<%= v %>"><%= v %></option>
			<% }) %>
		</select>

	</fieldset>
	<input type="submit" value="Save Space" />
</form>
